*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        z-index: 1;
        position: relative;
        width: 100%;
        margin: 0 auto;
        background-image: url(/img/CJBO-bg-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    header {
        z-index: 3;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100%;
        text-align: center;
        background-color: red;
        padding: 0 10px;

    & h1 {
        font-size: 1.3rem;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        }

    & img {
        max-width: 50px;
    }
}
    a {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
    }
    button {
        cursor: pointer;
    } 
    .container-nav {

        & svg {
            margin-right: 15px;

            &:hover {
                opacity: 0.8;
            }
            &:active {
                transform: scale(0.9);
            }
        }

    }
    .filter-home{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.514);
    }
    .title-main {
        color:#ffff;
        font-weight: 100;
        font-size: 1.2rem;
        padding: 20px;
        text-align: center;
    }
    .filter {
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(7, 7, 7, 0.7);
        z-index: 2;
    }
    .filter-list {
        display: none;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0;
        padding: 0;
        transition: 0.5s ease;
    }
    #container-red-home {
        height: 90vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;

        .home-red {
            z-index: 20;
            text-align: center;
            height: 190px;
            width: 190px;
            background-color: #22222293;
            border-radius: 10%;
            margin: 5px;
            padding: 25px;
            cursor: pointer;
            backdrop-filter: blur(40px);
            box-shadow: 1px 0 0 #ff0000;
            transition:  0.2s ease;
            text-align: start;
    
    
            & h2 {
                font-size: 2rem;
                box-shadow: 0 0.5px  0 #fff;
                }
    
            & p {
                width: 100%;
                font-size: 1rem;
                font-weight: 200;
                text-wrap: pretty;
                padding: 10px;
                color: #dddddd;
            }
            
            &:hover {
            backdrop-filter: 30px;
            opacity: 0.9;
            }
    
            &:active {
                transform: scale(0.9);
        }
        }

        @media screen and (max-width: 1000px){
            flex-direction: column;

            .home-red {
                height: 150px;
                width: 150px;

                & h2 {
                    font-size: 1rem;
                }

                & p {
                    font-size: 0.8rem;
                }
            }
            
        }
    }
    .zona-acad, .zona-admi {
        margin: 20px;
    }
    #networks {
        z-index: 2;
        position: relative;
        width:90%;
        max-width: 1800px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        align-items: self-start;
        flex-wrap: wrap-reverse;
        padding: 5rem;
        display: none;
    }
    .title-sect-netw {
        position: fixed;
        height: 10vh;
        width: 100%;
        bottom: 0;
        background-color: rgb(255, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        border-radius: 5px;

        & h2 {
        text-align: center;
        font-size: 1rem;
        padding: 2rem;
        }
    }
    .area {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 1rem;
        margin-right: 1rem;
        padding: 1rem;
    }
    .area ul {
        background-color: transparent;
        list-style: none;
        color: #000;
        margin: 0;
    }
    .menu-zona h2:hover {
        box-shadow: 0 0.5px 0 #fff;
    }
    .border-bottom-ul {
        box-shadow: 0 0.5px 0 #000;
        width: 25vw;
    }
    .area li {
        width: 70%;
        border-radius: 5px;
        background-color: rgba(209, 6, 6, 0.185);
        list-style: none;
        padding: 5px;
        font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #272727;
        text-align: end;
        margin: 3px;
        cursor: pointer;

        &:hover {
            background-color: rgba(177, 0, 0, 0.9);
            color: #fff;
        }

        &:active {
        opacity: 0.9;
        }
    }
    .menu-zona {
        font-weight: 400;
        color: #000;
    }
    #close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 10px;
        border: none;
        background-color: transparent;
        }
        #icons-list {
            position: absolute;
            top: 30px;
            right: 20px;
            padding: 0;
            border: none;
            background-color: transparent;
         }
        .icons-list-img {
            position: relative;
            background-color: transparent;
            height: auto;
            width: auto;
            margin: 20px 10px;
         }
         .icons-list-img img:hover {
            opacity: 0.9;
         }
         .icons-list-img img:active {
            opacity: 0.7;
                 }
        #btn-show-all-items {
            position: relative;
            top: 0;
            right: 0;
            padding: 0;
            border: none;
            background-color: transparent;
        }
        #btn-hidden-all-items {
            z-index: 10;
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
            border: none;
        }
    
    #info-show {
        position: absolute;
        display: none;
        background-color: #ffffff23;
        backdrop-filter: blur(20px);
        color: #11111186;
        margin-left: 0.5rem;
        padding: 0.5rem;
        border-radius: 3px;
        font-weight: 100;
    }
    #info-hidden {
        position: absolute;
        display: none;
        background-color: #fff;
        backdrop-filter: blur(20px);
        color: rgb(8, 8, 8);
        margin-left: 0.5rem;
        padding: 0.5rem;
        border-radius: 3px;
    }
    #container-aulas {
        display: none;
    }
    #aulas {
        display: none;
    }
    #aulas a {
        color: #000;
    }
    #z-admin {
        display: none;
    }
    #container-teatro {
        display: none;
    }
    #teatro {
        display: none;
    }
    .menu-zona h2, h3 {
        cursor: pointer;
    }
    
    .add-sides {
        animation: show-sides 1s ease;
    }
    .remove-sides {
        animation: remove-sides 0.5s ease;
    }
    @keyframes show-sides {
        to {
            box-shadow: 0 0 1rem #ff0000;
        }
    }
    @keyframes remove-sides {
        to {
            box-shadow: 0 0 0 transparent;
        }
    }
    .container-card {
        z-index: 1;
        position: relative;
        width: 500px;
        height: 500px;
        background-color: #ffffffc2;
        backdrop-filter: blur(20px);
        border-radius: 5px;
        box-shadow: 0 0 10px #00000060;
        margin-top: 6rem;
    }
    .card {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex: 1;
        flex-wrap: wrap;
        color: #000;
        padding: 2rem;
        overflow-y: auto;
        overflow-x: hidden;

        .color-zone {
            z-index: 2;
            padding: .5rem;
            border-radius: 15px;
            background-color: rgb(209, 6, 6);
            color: #fff;
        }
    }

    .infoitem {
        width: 90%;
        margin: 1rem;
        padding: 10px;
        background-color: rgba(165, 165, 165, 0.37);
        border-radius: 5px;
        
        & h2 {
            font-size: 1.2rem;
            font-weight: 500;
        }

        & p {
            font-size: 1.2rem;
            font-weight: 100;
        }

        & span img {
            height: auto;
            width:  35px;
            padding-right: 15px;
        }
    }

    @media screen and (max-width: 1000px){
         #networks {
            padding: 0;
            flex-wrap: wrap;
        } 
        
        .area {
            position: relative;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px 20px 20px 30px;
            margin-top: 20px;
        } 
        .area li {
            border-radius: 5px;
            background-color: rgba(209, 6, 6, 0.185);
            list-style: none;
            padding: 3px;
            font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: .8rem;
            font-weight: 200;
            color: #272727;
            text-align: end;
            margin: 5px 0;
            cursor: pointer;
  
        }
        .menu-zona {
            font-weight: 400;
            color: #000;
        }
        #close {
            margin: 3px;
            }
            #icons-list {
                z-index: 1;
                position: absolute;
                top: 30px;
                right: 20px;
                padding: 0;
                border: none;
                background-color: transparent;
             }
            .icons-list-img {
                position: absolute;
                padding: 10px  0;  
                right: -20px;
             }
        
        #info-show {
            margin-left: 0.5rem;
            padding: 0.5rem;
            border-radius: 3px;
            font-weight: 100;
        }
        #info-hidden {
            margin-left: 0.5rem;
            padding: 0.5rem;
            border-radius: 3px;
        }

        .menu-zona {
            & h2 {
                width: 100%;
                font-size: 1rem;
                margin: 5px 0;
            }

            & h3 {
                font-size: .8rem;
                font-weight: 700;
                margin-top: 5px;
            }
        }
}
    #infraestructure {
        position: relative;
        height: 100vh;
        width: 100%;
        display: none;

        & h2 {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
        }

        & iframe {
            position: absolute;
            top: 30px;
            right: 30px;
            height: 450px;
            width: 400px;
            border-radius: 15px;
            box-shadow: 0 0 10px #000000;
        }

    }

@media screen and (max-width: 1000px){ 
    .container-card {
        padding: 1rem;
        width: 100%;
        height: 300px;
    
        .card {
            padding: 0px;
        }
        .infoitem {
            padding: 10px;
            margin: 5px;
            background-color: rgba(165, 165, 165, 0.37);
            border-radius: 5px;
            color: #000;
        }
        .infoitem h2 {
            font-size: .8rem;
        }
        .infoitem p {
            font-size: .9rem;
            text-align: end;
        }

        .infoitem span img {
            width:  15px;
            padding: 0;
            margin-right: 15px;
        }
    }
    #infraestructure {

        & iframe {
            position: absolute;
            height: 150px;
            width: 250px;
            right: 30px;
            margin-top: 3rem;
        }
    }
}