:root {
    --white: #fff;
    --black: #000;
    --primary: #dd0021;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }

    a {
        text-decoration: none;
        color: var(--white);
        opacity: .8;
    }

    body {
        background-color: var(--white);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--black);
    }

    header {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: var(--black);
        padding: 1rem;

        & h2 {
            font-size: 3rem;
            color: var(--white);
            padding: 0 0 2rem 2rem;
        }
    }

    #btn-top {
        z-index: 4;
        position: fixed;
        height: 50px;
        width: 50px;
        bottom: 120px;
        right: 20px;
        border-radius: 50%;
        border: 3px solid var(--primary);
        background-color: var(--black);
        display: none;

        & svg {
            height: auto;
            width: 30px;
            max-width: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover svg{
            opacity: .8;
        }

        &:active {
            transform: scale(.9);
        }
    }

    #list-areas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    #container-areas {
        position: sticky;
        top: 0;
        background-color: #ffffff0c;
        padding: 1rem;

        & h3 {
            font-size: 2.5rem;
            color: var(--white);
        }

        & li {
            margin-top: .3rem;
            list-style: none;
            background-color: rgba(128, 128, 128, 0.151);
            padding: 0 .3rem;
            border-radius: 3px;

            &:hover {
                opacity: .6;
            }
        }
    }

    #qrs {
        position: relative;
        height: auto;
        min-height: 100vh;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        margin: 0 auto;
        background-color: var(--white);
        color: #000000;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        overflow: hidden;


    }

    .qrs-container {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;

        & h2 {
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            padding: .5rem 1rem;
            font-weight: bold;
            color: var(--black);
        }
    }

    .qr-item {
        z-index: 2;
        position: relative;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: column;
        gap: .5rem;
        padding-top: 1rem;
        border-radius: 3px;
        background-color: var(--white);
        border: 2px solid var(--black);
        transition: all 0.2s ease;
        cursor: pointer;

        & img {
            height: auto;
            width: 100px;
            margin: 0 auto;
        }

        & h3 {
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: .7rem;
            font-weight: 500;
            text-align: end;
            color: var(--white);
            font-weight: bold;
            padding: .1rem .3rem;
            background-color: var(--primary);
            border-top-left-radius: 60px;
            /* border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px; */
            letter-spacing: .1rem;
        }

        /* &:hover {
            transform: scale(1.3);
        } */

        &:hover h3 {
        display: block;
        }

        &:active {
            /* transform: scale(0.9); */
            background-color: var(--primary);
        }
    }


    .logo-CJBO {
        z-index: 1;
        position: fixed;
        bottom: 0;
        right: 0;

        & img {
        z-index: 0;
        position: absolute;
        height: auto;
        width: 300px;
        bottom: 0;
        right: 1rem;
        filter: drop-shadow(0 0 10px rgb(0, 0, 0));
        filter: contrast(0) brightness(0) opacity(0.2);

            @media screen and (max-width: 1000px) {
                width: 100px;
            } 
        }
    }

    #filter-qrs {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150vh;
        background-color: rgba(0, 0, 0, 0.918);
        backdrop-filter: blur(10px);
        display: none;
    }
    
    .open-qr {
        z-index: 10;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
    }


    @media print {
        body {
            margin: 0;
            padding: 0;
        }
    
        .qrs-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr); /* 5 columnas por fila */
            gap: 10px; /* Espacio entre los QR */
            page-break-inside: avoid; /* Evita cortes dentro de un contenedor */
        }
    
        .qr-item {
            z-index: 2;
            position: relative;
            height: 150px;
            width: 150px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            flex-direction: column;
            gap: .5rem;
            padding-top: 1rem;
            border-radius: 3px;
            background-color: var(--white);
            border: 2px solid var(--black);
            transition: all 0.2s ease;

            & img {
                height: auto;
                width: 100px;
                margin: 0 auto;
            }
        }

        .qr-item h3 {
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: .7rem;
            font-weight: 500;
            text-align: end;
            color: var(--white);
            font-weight: bold;
            padding: .1rem .3rem;
            background-color: var(--primary);
            border-top-left-radius: 60px;
            /* border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px; */
            letter-spacing: .1rem;
        }
    
        /* Opcional: Oculta cosas no necesarias en la impresión */
        header, footer, .no-print {
            display: none;
        }
    }
    