:root {
    --white: #fff;
    --black: #000;
    /* --primary: #007bff;
    --secondary: #6c757d; */
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        height: 100vh;
        width: 100%;
        margin: 0 auto;
        font-family: sans-serif;
        font-weight: 500;
        background-image: url(/img/home-CJBO.png);
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(20px);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    label {
        display: block;
        font-size: .7rem;
        color: #e0e0e0;
        margin: .3rem;
    }
    input {
        height: 30px;
        width: 200px;
        background-color: #969696;
        border-style: none;
        outline: none;
        color: #000;
        padding: 5px;
        font-size: 0.8rem;
        margin: 0 0 5px 0;
        border-radius: 5px;
    }
    input:hover {
        opacity: 0.8;
    }
    button {
        border: none;
        background-color: rgba(0, 75, 0, 0.6);
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.2s ease;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.8;
            transform: scale(0.9);
        }
    }
    button[type="reset"] {
        background-color: rgba(255, 0, 0, 0.6);
        color: #000;
    }
    .filter {
        z-index: -1;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: #00000062;
    }

form {
    position: relative;
    background-color: transparent;
    padding: 2rem;
    height: 400px;
    width: 600px;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    border-radius: 10px;

    & img {
        z-index: -1;
        position: absolute;
        height: auto;
        width: 350px;
        bottom: 0;
        right: 0;

        filter: contrast(0);
        opacity: 0.05;

    }
    @media screen and (max-width: 1000px){
        width: auto;

        & img {
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}
fieldset {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: .8rem;
    font-weight: 200;
    padding: 1rem;
    backdrop-filter: blur(10px);
    border: 1px solid #9797970a;
    border-radius: 5px;
    margin-top: 1rem;
}
legend {
    position: absolute;
    top: 0;
    right: 30px;
    padding-top: .5rem;
    font-size: .7rem;
    color: #505050;
}
.container-loggeo {
    border:none;    
    background-color: rgba(64, 128, 5, 0.06);
    border-radius: 5px;
}
.login {
    padding: 1rem;
}
.container-login {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    & h2 {
    background-color: rgb(255, 0, 0);
    font-size: 1.5rem;
    font-weight: 200;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    }
}
#error {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000063;
    backdrop-filter: blur(10px);
    display: none;

    & svg {
        height: auto;
        width: 50px;
    }
}
#inside {
    z-index: 1;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
}
#outside {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 10px;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
}
.container-loading-animation {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.loading-animation {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #db3434;
    color: rgb(30, 141, 30);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}